<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.layout != "post" %}{{ site.title }} |{% endif %}
           {% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!--[if lt IE 9]>
        <script src="{{ "/js/vendor/html5shiv.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->

    <!-- Google Analytics: -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-85448696-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Twitter cards: -->
    {{ page.author_twitter }}
    {% if page.author_twitter %}
    <meta name="twitter:site"    content="@{{ page.author_twitter }}">
    <meta name="twitter:creator" content="@{{ page.author_twitter }}">
    <meta name="twitter:title"   content="{{ page.title }}">

    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% endif %}

    {% if page.feature_image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}/img/{{ page.feature_image }}.jpg">
    {% else %}
    <meta name="twitter:card"  content="summary">
    {% endif %}
    {% endif %}

    <!-- Facebook Open Graph tags: -->
    {{ if page.author_facebook }}
    <meta property="og:type" content="article" />
    <meta property="og:article:author" content="https://www.facebook.com/{{ page.author_facebook }}" />
    <meta property="og:title" content="{{ page.title }}" />

    {% if page.summary %}
    <meta property="og:description" content="{{ page.summary }}" />
    {% endif %}

    {% if page.feature_image %}
    <meta property="og:image" content="{{ site.url }}/img/{{ page.feature_image }}.jpg" />
    {% endif %}

</head>
